.queue-root {
  min-height: 100vh;
}

.body {
  
}

.queue-demo-pass {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sub-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

.logo {
  display: block;
  padding: 10px;
  margin: auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
  grid-gap: 10px;
  margin: 0 auto;
  width: 92%;
}

.grid-queue {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  padding: 5px;
  text-align: center;
  height: 35px;
}

.queue-element {
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
}

.barber-wait {
  background-color: aquamarine;
  border: 1px solid black;
  max-height: 23px;
}

.barber-none {
  border: 1px solid black;
  background-color: hotpink;
  max-height: 23px;
}

.request {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.customer-input {
  padding: 5px;
  text-align: center;
}

.x-button {
  font-size: 25px;
  max-height: 23px; 
  border: 1px solid black;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  background-color: gainsboro;
}

.clear-button {
  font-size: 15px;
  height: 13px;
  border: 1px solid black;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;
  background-color: gainsboro;
}

.input-field{
  padding-top: 10px;
  padding-bottom: 10px;
}

.services {
  font-family: 'Montserrat', sans-serif;    
  font-weight: 500;
  line-height: 1.75
}

.button-confirm-a {
  border: 1px solid black;
  background-color: white;
  padding: 12px;
  font-weight: 600;
}

.rat {
  font-family: 'Montserrat', sans-serif;
}

.button-confirm-div {
  padding-top: 20px;
  padding-bottom: 50px;
}

.button-confirm-a:hover {
  background-color: lightgray;
  cursor: pointer;
}

.sub-title-container {
  padding: 10px;
}

.clear-contain {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -100px;
}

.my-name {
  margin: 0 10px;
  font-size: 20px;
  color: gray;
}

.github-icon {
  height: 25px;
}