.contact-root {
    padding: 150px 0 100px 0;
}

.contact-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    flex-wrap: wrap;
}

.contact-container {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: quicksand;
    margin-bottom: 50px;
    cursor: pointer;
    min-width: 250px;
}