.contact-root {
    padding: 100px 0 50px 0;
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;
}

.contact-container {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: quicksand;
    margin-bottom: 50px;
    cursor: pointer;
    min-width: 250px;
}