.projects-root {
    background-color: #343335;
    color: #e4d0b1;
    padding: 150px 0;
}

.projects-header {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
}

.project-container {
    display: flex;
    max-width: 1500px;
    /* padding: 180px 0; */
    margin: 150px auto 0 auto;
    align-items: center;
    width: 90%;
}

.project-right {
    padding: 0 100px;
}

.projects-title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
}

.projects-desc {
    font-family: quicksand;
    text-align: justify;
    width: 400px;
}

.projects-img {
    width: 800px;
}

.project-btn {
    margin: 20px 0 !important;
}

@media only screen and (max-width: 1249px) {
    .project-container {
        display: block;
        text-align: center;
    }
    .projects-desc {
        width: auto;
        max-width: 800px;
        margin: 10px auto;
    }
    .project-right {
        padding: 0;
    }
}

@media only screen and (max-width: 899px) {
    .projects-img {
        width: auto;
    }
    .project-right {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 699px) {
    .projects-img {
        width: 90%;
    }
}