.projects-root {
    background-color: #343335;
    color: #e4d0b1;
    padding: 150px 0;
}

.projects-header {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.project-container {
    display: flex;
    max-width: 1500px;
    /* padding: 180px 0; */
    margin: 150px auto 0 auto;
    align-items: center;
    width: 90%;
}

.project-right {
    padding: 0 100px;
}

.projects-title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
}

.projects-desc {
    font-family: quicksand;
    text-align: justify;
    width: 400px;
}

.projects-img {
    width: 800px;
}

.project-btn {
    margin: 20px 0 !important;
}