.stack-main-root {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stack-container {
  border-top: 1px solid black;
  margin: 0 20px 20px 20px;
  width: 300px;
}

.stack-element {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  font-size: 25px;
  font-weight: 600;
}

.stack-log-root {
  margin: 0 20px 20px 20px;
  width: 300px;
  height: 613px;
  border: 1px solid black;
  background-color: lightgrey;
}

.stack-log-msg {
  font-size: 20px;
  padding: 6.93px;
}

.stack-header {
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 25px;
}

.stack-header-input {
  margin: 0 10px;
  width: 50px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.stack-header-text {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.stack-header-left {
  display: flex;
  align-items: center;
}

.stack-header-right {
  display: flex;
  align-items: center;
}

.stack-header-button {
  color: white !important;
  margin: 0 10px !important;
}

.stack-title {
  font-family: montserrat;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}

.stack-mobile-right {
  display: none;
}

.stack-mobile-button {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.footer-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

@media only screen and (max-width: 699px){
  .footer-stack {
    position: static;
  }
}

@media only screen and (max-height: 822px){
  .footer-stack {
    position: static;
  }
}

@media only screen and (max-width: 699px){
  .stack-header-right {
    display: none;
  }
  .stack-mobile-right {
    display: block;
  }
}

@media only screen and (max-width: 499px){
  .stack-header-button {
    font-size: 10px !important;
  }
  .stack-header-text {
    font-size: 15px;
    padding-left: 10px;
  }
  .stack-header-input {
    width: 25px;
  }
}